.container {
  max-width: 800px;
}

.header {
  margin-top: 6rem;
  text-align: center;
  height: 100%;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}
